.side-menu-wrapper {
    background-color: #b45f06;
}

.side-menu {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    a {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .select-commune {
        margin-top: 20px;

        fieldset {
            border-color: #fff;
        }

        svg,
        .MuiInputBase-input,
        .MuiFormLabel-root {
            color: #fff;
        }
    }
}
