* {
    font-family: "Arial";
    font-weight: bold;
}

.col-sm-2,
.col-sm-10 {
    padding: 0 !important;
}

.App-link {
    color: #09d3ac;
}

.home-title {
    margin: 1em 0;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #dee0e2;
}

.multi-select > div {
    border-radius: 0 !important;
}
